In [1]:
tweets=pd.DataFrame(data=[])
for file in tqdm(glob("tweets/*")):
    df_part = pd.read_csv(file)
    df_part['username'] = str(file.split('\\')[1][4:-11])
    tweets = tweets.append(df_part)
    
tweets.rename(columns={"0":"id_str", "1":"created_at", "2":"text", "3":"entities", "4":"retweeted"}, inplace=True)

NameError: name 'pd' is not defined

In [4]:
cols_to_use = ['username', 'realname', 'gender_', 'age_', 'meslek']
users_age_gender_1 = pd.read_csv('data/all_groups_notna.csv', usecols=cols_to_use, encoding='utf-8').rename(columns={'age_':'age', 'gender_':'gender'}).drop_duplicates(['username'])
users_age_gender_1 = users_age_gender_1[users_age_gender_1.gender.notna()]

In [5]:
cols_to_use = ['username', 'realname', 'gender', 'age', 'meslek']
users_age_gender_2 = pd.read_csv('data/basak.csv', usecols=cols_to_use, encoding='utf-8').drop_duplicates(['username'])
users_age_gender_3 = pd.read_csv('data/basak2.csv', usecols=cols_to_use, encoding='utf-8').drop_duplicates(['username'])
users_age_gender_4 = pd.read_csv('data/accounts_v3.csv', usecols=cols_to_use, encoding='utf-8').drop_duplicates(['username'])

users_age_gender = users_age_gender_1.append(users_age_gender_2).append(users_age_gender_3).append(users_age_gender_4)
users_age_gender.dropna(subset=['username', 'gender', 'age'], inplace=True)

users_age_gender.age = users_age_gender.age.astype(str).apply(lambda x: x.replace('?','').rstrip().lstrip())
users_age_gender.age = users_age_gender.age.astype(str).apply(lambda x: np.nan if x == '' else x)
users_age_gender.dropna(subset=['username', 'gender', 'age'], inplace=True)

users_age_gender.age = users_age_gender.age.astype(int)
users_age_gender = users_age_gender[users_age_gender.gender != 'u']

In [6]:
users_age_gender.shape

(975, 5)

In [7]:
users_age_gender.drop_duplicates(subset=['username'], inplace=True)

In [8]:
users_age_gender.shape

(765, 5)

In [9]:
users_age_gender.isna().sum()

realname    100
username      0
gender        0
age           0
meslek       15
dtype: int64

In [10]:
users_age_gender.nunique()

realname    664
username    765
gender        2
age          62
meslek       27
dtype: int64

In [11]:
df = tweets.merge(users_age_gender, left_on='username', right_on='username', how='left')

In [12]:
df.isna().sum()

id_str             0
created_at         0
text               0
entities           0
retweeted          0
username           0
realname      252136
gender        147108
age           147108
meslek        191521
dtype: int64

In [13]:
df.username.nunique()

785

In [14]:
print(df.dropna(subset=['age']).username.nunique(),
df.dropna(subset=['gender']).username.nunique())

729 729

In [15]:
df.dropna(subset=['age'],inplace=True)
df.dropna(subset=['gender'],inplace=True)

In [39]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['gender_enc'] = le.fit_transform(df.gender.astype(str))

# 17den küçük iki kişi varmış onları da aldım şimdi
categories = pd.cut(df.age.astype(int),
                    bins=[0,30,40,50,60,1000],
                    labels=['17-30','31-40','41-50','51-60','61+'])
df.insert(len(df.columns),'age_group',categories)

le = preprocessing.LabelEncoder()
df['age_enc'] = le.fit_transform(df.age_group.astype(str))

In [40]:
df.head()

,id_str,created_at,text,entities,retweeted,username,realname,gender,age,meslek,gender_enc,age_group,age_enc
0,1444292738468438024,2021-10-02 13:26:37+00:00,RT @Bozoklularr: Herkesin üniversitesi açılmış...,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,0hilalarslan,NaN,k,18.0,ogr,1,17-30,0
1,1443862721607446530,2021-10-01 08:57:53+00:00,2021-YKS tweetlerini okumak.. çok güzel bi duy...,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,0hilalarslan,NaN,k,18.0,ogr,1,17-30,0
2,1443669188564996106,2021-09-30 20:08:51+00:00,Bugün de sana nasılsın diyemeden geçti,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,0hilalarslan,NaN,k,18.0,ogr,1,17-30,0
3,1443222355686346757,2021-09-29 14:33:18+00:00,Ya bu eylül ayı neden bitmiyo.. neden yani? Sa...,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,0hilalarslan,NaN,k,18.0,ogr,1,17-30,0
4,1443127153021923329,2021-09-29 08:14:59+00:00,Ulan yaa kdhdkdhkdhdk\n(Dooru bu arada) :D htt...,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,0hilalarslan,NaN,k,18.0,ogr,1,17-30,0

In [3]:
# column_titles=['sentence1', 'label', 'id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
#        'user_id', 'username', 'name', 'place',  'language',
#        'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
#        'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
#        'video', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
#        'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
#        'trans_dest', 'realname', 'gender', 'age', 'body', 'snippet', 'gender_',
#        'age_', 'body_', 'meslek', 'Age Group', 'age_enc']

# df = df.rename(columns={'tweet':'sentence1', 'gender_enc':'label'}).reindex(columns=column_titles)

In [41]:
df.to_csv('tweet_data_normalized.csv',index=False)